$bg-size: cover;
$bg-url: "../statics/image/bg.jpg";
$bg: no-repeat center right fixed url($bg-url);

h1,
h4 {
  font-weight: 700;
}

h4 {
  font-size: 18px;
}

#experiences {
  .experience {
    margin: 20px 0;

    > div {
      padding: 0;
    }

    p > strong {
      color: #434242;
      display: block;
      margin-bottom: 10px;
      font-weight: 700;
    }

    span > * {
      color: #22a39f;
      margin: 0 5px;
    }
  }
}

.jumbotron {
  background: $bg;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: $bg-size;
  -moz-background-size: $bg-size;
  -o-background-size: $bg-size;
  background-size: $bg-size;

  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{$bg-url}', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{$bg-url}', sizingMethod='scale');

  margin-bottom: 0px;
  padding: 0px;
  height: 100vh;

  .overlay {
    background-color: #22a39f;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    z-index: 2;
    height: 100vh;
  }

  .container {
    position: relative;
    z-index: 4;
    text-align: center;
    top: 28%;

    * {
      color: #ffffff;
      text-align: center;
    }
  }

  .scroll-down {
    height: 80px;
    width: 110px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 5%;
    background-color: #222222;
    z-index: 6;
    font-size: 30px;
    text-align: center;

    .fas {
      color: #ffffff;
      padding-top: 20px;
      animation-name: updown;
      animation-duration: 1.2s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-timing-function: ease;
    }
  }
}

.nav-item {
  display: block;
  background-color: #222222;
  text-align: center;
}

a {
  color: #22a39f;
  text-decoration: underline;
}

.nav {
  right: 5%;

  > li {
    a {
      width: 110px;
      height: 80px;
      font-weight: 300;
      color: #ffffff;
      text-align: center;
      padding-top: 25px;
      display: block;
    }
  }
}

@keyframes updown {
  0% {
    padding-top: 20px;
  }

  50% {
    padding-top: 30px;
  }

  100% {
    padding-top: 20px;
  }
}

.background-white {
  background-color: #ffffff;
}

.background-grey {
  background-color: #434242;
}

.background-wheat {
  background-color: #f3efe1;
}

hr {
  border-color: #727878;
  opacity: 0.75;
  margin: 50px 0;
}

h2,
h3 {
  font-weight: 300;
  color: #22a39f;
}

h2 {
  font-size: 54px;
  text-align: center;
}

h3 {
  font-size: 27px;
  margin: 20px 0px;
}

p.lead {
  text-align: center;
}

body {
  font-family: "Open Sans", sans-serif !important;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.64;
  color: #434242;
}

html,
body {
  height: 100%;
}

.container {
  max-width: 1170px;
  padding: 60px 180px;
}
